################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Exercicio/FileContentIndex/98be7d04-87f5-4805-86e2-d08c93b5e18a.vsidx
/.vs/Exercicio/FileContentIndex/ae0a46a2-015b-4cab-aacd-f4c6c3b30dca.vsidx
/.vs/Exercicio/FileContentIndex/07a2378b-5030-4fb4-a17f-6fd66e288d80.vsidx
/.vs/Exercicio/FileContentIndex/3dcc1db6-7a67-4de2-a083-f063d8467b72.vsidx
/.vs/Exercicio/FileContentIndex/baefa4c5-1a1f-4c22-84ad-b88eccf0b15f.vsidx
/.vs/Exercicio/FileContentIndex/efc322c9-b71f-428e-bde6-b7b4ca8cf040.vsidx
/.vs/Exercicio/FileContentIndex/6e3e8ec4-1ed3-43e2-b78e-b33bc82988ed.vsidx
/.vs/Exercicio/FileContentIndex/d18a5125-0cc5-48f6-b97d-e95dcede5237.vsidx
/.vs/Exercicio/FileContentIndex/d9b6dec0-1690-4986-9c44-98c53aaabf22.vsidx
/.vs/Exercicio/FileContentIndex/512f103f-129f-445b-b6e1-8b6d8e126a19.vsidx
/.vs/Exercicio/FileContentIndex/6891e923-5a10-4979-9bb7-3b12567cadab.vsidx
/.vs/Exercicio/FileContentIndex/53287d0b-2d88-4e66-84f6-006a1924f99f.vsidx
/.vs/Exercicio/FileContentIndex/c56e9ab5-8e7e-489e-a867-6ff3fced0904.vsidx
/.vs/Exercicio/FileContentIndex/eefeef92-a39b-43e6-a4ee-bd0bb66c4a6b.vsidx
