################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Exercicio/FileContentIndex/98be7d04-87f5-4805-86e2-d08c93b5e18a.vsidx
/.vs/Exercicio/FileContentIndex/ae0a46a2-015b-4cab-aacd-f4c6c3b30dca.vsidx
